/* custom css styles is written here */

/* reset css styles */
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  background: rgb(247, 241, 230);
  font-size: 16px;
}

.card-body {
  background-color: rgb(65, 198, 171);
  border: 2px solid rgb(81, 172, 169);
  color: rgb(55, 53, 50);
}

h2 {
  text-align: right;
  border-bottom: 0.2rem solid rgb(55, 53, 50);
  padding-bottom: 0.2rem;
}
